export(acfresid)
export(boot_ci)
export(boot_par)
export(criteria)
export(errorVar)
export(healy.plot)
export(lmmControl)
export(lr.test)
export(mahalDist)
export(mahalDistCens)
export(rsmsn.clmm)
export(rsmsn.lmm)
export(smn.clmm)
export(smn.lmm)
export(smsn.lmm)
export(ranef)
export(fixef)
export(nobs)
export(sigma)
export(formula)
#
import("ggplot2")
importFrom("optimParallel", "optimParallel")
importFrom("dplyr", "bind_rows", "left_join", "n_distinct", '%>%')
importFrom("parallel", "stopCluster", "clusterExport", "setDefaultCluster", "makeCluster")
importFrom("methods","is")
importFrom("utils","capture.output","modifyList")
importFrom("stats","ARMAacf","dgamma","dnorm","fitted","formula","integrate","mahalanobis",
           "model.frame","model.matrix","optim","optimize","pacf","pchisq","pf","pgamma","pnorm","pt",
           "qchisq","qf","qgamma","qnorm","quantile","rbeta","rgamma","rnorm","runif",
           "toeplitz","residuals","uniroot","var","lag","nobs","sigma")
importFrom("haven","as_factor")
importFrom("nlme","corARMA","lme","corCAR1","random.effects","ranef","fixef")
importFrom("purrr","flatten_int","map")
importFrom("future","plan","multisession","sequential")
importFrom("mvtnorm","dmvt","dmvnorm","pmvnorm","rmvnorm")
importFrom("ggrepel","geom_text_repel")
importFrom("matrixcalc","is.positive.definite","is.symmetric.matrix")
importFrom("numDeriv","jacobian")
importFrom("relliptical","mvtelliptical","rtelliptical")
importFrom("moments","skewness")
importFrom("furrr","future_map","furrr_options")
importFrom("MomTrunc","meanvarTMD")
importFrom("TruncatedNormal","pmvt")
#
S3method(fitted,SMSN)
S3method(plot,SMSN)
S3method(predict,SMSN)
S3method(print,SMSN)
S3method(residuals,SMSN)
S3method(summary,SMSN)
S3method(update,SMSN)
#
S3method(fitted,SMN)
S3method(plot,SMN)
S3method(predict,SMN)
S3method(print,SMN)
S3method(residuals,SMN)
S3method(summary,SMN)
S3method(update,SMN)
#
S3method(fitted,SMNclmm)
S3method(plot,SMNclmm)
S3method(predict,SMNclmm)
S3method(print,SMNclmm)
S3method(residuals,SMNclmm)
S3method(summary,SMNclmm)
S3method(update,SMNclmm)
#
S3method(plot,mahalDist)
S3method(plot,mahalDistCens)
S3method(plot,acfresid)
#
S3method(print,lmmLRT)
S3method(print,SMSNsumm)
S3method(print,SMNsumm)
S3method(print,SMNcenssumm)
#
S3method(ranef, SMSN)
S3method(ranef, SMN)
S3method(ranef, SMNCens)
S3method(logLik, SMSN)
S3method(logLik, SMN)
S3method(fixef, SMSN)
S3method(fixef, SMN)
S3method(formula, SMSN)
S3method(formula, SMN)
S3method(nobs, SMSN)
S3method(nobs, SMN)
S3method(sigma, SMSN)
S3method(sigma, SMN)
