export(acfresid)
export(boot_ci)
export(boot_par)
export(criteria)
export(errorVar)
export(healy.plot)
export(lmmControl)
export(lr.test)
export(mahalDist)
export(ranef)
export(rsmsn.lmm)
export(rsmnCens.lmm)
export(smn.lmm)
export(smnCens.lmm)
export(smsn.lmm)
#
import("dplyr")
import("ggplot2")
import("optimParallel")
import("parallel")
importFrom("dplyr","n_distinct")
importFrom("furrr","future_map","furrr_options")
importFrom("future","plan","multisession","sequential")
importFrom("ggrepel","geom_text_repel")
importFrom("haven","as_factor")
importFrom("matrixcalc","is.positive.definite","is.symmetric.matrix")
importFrom("methods","is")
importFrom("moments","skewness")
importFrom("MomTrunc","meanvarTMD")
importFrom("mvtnorm","dmvt","dmvnorm","pmvnorm","rmvnorm","rmvt")
importFrom("nlme","corARMA","lme","corCAR1","random.effects","ranef")
importFrom("numDeriv","jacobian")
importFrom("purrr","flatten_int","map")
importFrom("relliptical","mvtelliptical","rtelliptical")
importFrom("stats","ARMAacf","dgamma","dnorm","fitted","formula","integrate","mahalanobis",
           "model.frame","model.matrix","optim","optimize","pacf","pchisq","pf","pgamma","pnorm","pt",
           "qchisq","qf","qgamma","qnorm","quantile","rbeta","rgamma","rnorm","runif",
           "toeplitz","residuals","uniroot","var")
importFrom("TruncatedNormal","pmvt")
importFrom("utils","capture.output","modifyList")
#
S3method(fitted,SMSN)
S3method(plot,SMSN)
S3method(predict,SMSN)
S3method(print,SMSN)
S3method(residuals,SMSN)
S3method(summary,SMSN)
S3method(update,SMSN)
#
S3method(fitted,SMN)
S3method(plot,SMN)
S3method(predict,SMN)
S3method(print,SMN)
S3method(residuals,SMN)
S3method(summary,SMN)
S3method(update,SMN)
#
S3method(fitted,SMNCens)
S3method(plot,SMNCens)
S3method(print,SMNCens)
S3method(residuals,SMNCens)
S3method(summary,SMNCens)
S3method(update,SMNCens)
#
S3method(plot,mahalDist)
S3method(plot,acfresid)
#
S3method(print,lmmLRT)
S3method(print,SMSNsumm)
S3method(print,SMNsumm)
